.container {
    background-image:
}

.container-1 {
    height: 300px;
    background-image: url()
}

.container-1 {
    background-color: lightskyblue;
}

.row {
    padding-top: 3em;
    padding-bottom: 3em;
}

.container-2 {
    background-color: lightcyan;
}

.container-3 {
    background-color: lightslategray;
    color: black;
}

.container-4 {
    background-color: black;
    color: white;
}